@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
/* Обнуление */
*,
*:before,
*:after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
   outline: 0;
   font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

html {
   overflow-x: hidden;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
   max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}


/* --Header---------------------------------------------------------- */
.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 10px;
}
.container__content {
   max-width: 1110px;
   margin: 0 auto;
   padding: 0 10px;
}
.header {
   /* Фиксируем шапку, чтоб при скролле она всегда была видна сверху */
   position: sticky;
   top: -145px;
   width: 100%;
   left: 0;
   z-index: 50;
}

/* Плашка 
   Меню должно отрываться под плашкой*/
.header:before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

/* Вытащить наверх контентную часть шапки */
.header__body {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 80px;
   align-items: center;
}
.header__logo {
   max-width: 340px;
   align-self: start;
   z-index: 3;
   margin: 0 0 20px 0;
}
.header__logo img {
   max-width: 100%;
   /* Если есть подрезание у картинки */
   display: block;
}
.header__menu {
   background-color: #212529;
   width: 100%;
   height: 100%;
   line-height: 52px;
}

.header__list {
   display: flex;
   position: relative;
   z-index: 2;
}
.header__list li {
   font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
   list-style: none;
   padding: 0 0.7%;
   transition: background-color 0.3s ease;
}

.header__list li:hover {
   background-color: #a7c520;
   transition: background-color 0.3s ease;
}
/* .header__list li:active{
background-color: #6c757d;

} */

.link-color_mod {
   background-color: #a7c520;
}

nav ul li{
   font-size: 21px;
}
.header__menu-item {
   color: #fff;
   font-size: 20px;
   text-decoration: none;
}


@media (max-width: 1100px) {
   nav ul li{
      font-size: calc(16px + (17 - 16) * ((100vw - 300px) / (1180 - 300)));
   }
   .header__menu-item {
      font-size: calc(16px + (17 - 16) * ((100vw - 300px) / (1180 - 300)));
   }
}

@media (max-width: 930px) {
   nav ul li{
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1180 - 300)));
   }
   .header__menu-item {
      font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1180 - 300)));
   }

   .header__list li {
      padding: 0 0.7%;
      list-style: none;
   }
}



/* Работаем с бургером */
@media (max-width: 767px) {
   body.lock {
      /* Под меню бургером скролится контент это не хорошо */
      overflow: hidden;
   }
   .header {
      position: sticky;
      top: 0;
      background: #fff;
   }
   .header__body {
      flex-direction: row;
      height: 50px;
   }
   .header__logo {
      flex: 0 140px;
   }
   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
   }
   .header__burger span {
      position: absolute;
      background-color: #212529;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }
   .header__burger::before,
   .header__burger::after {
      content: "";
      background-color: #212529;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: 0.3s ease 0s;
   }
   .header__burger::before {
      top: 0;
   }

   .header__burger::after {
      bottom: 0;
   }

   .header.active {
      background-color: #212529;
   }

   .header__burger.active::before {
      background-color: #fff;
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active::after {
      background-color: #fff;
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .header__burger.active span {
      background-color: #fff;
      transform: scale(0);
   }

   .header__menu {
      position: fixed;
      /* Чтоб меню сверху съезжало */
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #212529;
      padding: 70px 10px 20px 10px;
      transition: 0.3s ease 0s;
      /* Если будет много пунктов и они не влезут в экран, то надо чтоб к ним был доступ */
      /* Теперь можно его проскролить */
      overflow: auto;
   }

   /* При на нажатии на бургер мы добавляем класс active 
    */
   .header__menu.active {
      transition: 0.3s ease 0s;
      top: 0;
   }

   .header__list {
      display: block;
   }

   .header__list li {
      margin: 0 0 20px 0;
   }
   .header__menu-item {
      font-size: 24px;
   }
}

/* -------------------------------------------------------- */
/* Выпадающий список */
nav ul li{
   position: relative; 
}
nav ul li ul {
   margin: 52px 0 0 0;
   position: absolute;
   left: 0;
   width: 300px;
   background-color: #212529;
   z-index: 2;
   display: none;
   line-height: 30px;
}


nav ul li ul li{
   width: 100%;
   border-bottom: 1px solid rgba(206, 201, 201, 0.1);
}
nav ul li ul li a{
   color: #fff;
   display: block;
   padding: 10px;
}

.sub-sub-span{
   padding: 10px;
}

nav ul li ul li ul {
   width: 350px;
   left: 299px;
   top:-54px;
}
nav ul li:hover > .drop-menu-mouse{
   display: initial;
}
nav ul li > .drop-menu-touch{
   display: initial;
}

li.header__menu-item{
   cursor: pointer;
}

/* Стрелочка */
.sub-sub-list{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.sub-sub-list > span{
   display: block;
}
/* Работа с бургером */
@media (max-width: 767px){
   nav ul li ul {
      position: relative;
      border-right-color: #212529;
   }
   .header__list li:hover {
      background-color: #212529;
      transition: background-color 0.3s ease;
   }
   nav ul li{
      font-size: 21px;
   }
}

/* ------------------------------------------- */